<html>
    <head> 
        <title>Google Map Example</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyAm5lyVFG6YiW3_QWvOr-FpYk5EbwO8qmc"></script>
        <script type="text/javascript">
            var loadMap = function() 
            {
		var myLatLng = {lat: <%=lat%>, lng: <%=lon%>};
                var map = new google.maps.Map(document.getElementById("map"),{
				      zoom: <%=zoom%>,
				      center: myLatLng
				}); 
				var map = new google.maps.Marker({
					position: myLatLng,
					map: map,
					title: 'OUHK'
				});
            };
            window.onload= loadMap;
        </script>
    </head>


    <body>
	 <header><h1>The Open University of Hong Kong</h1></header>
	 <nav>Vistors<br>About Us<br></nav>
	 <section>
		<h1>Node.JS Express EJS Example</h1>
		<p>This example shows how to put OUHK on a Google Map</p>
	 </section>
	 <aside>
        	<div id="map" style="width:500px;height:500px;">
	 </aside>
    </body>
</html>
